body {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Microsoft YaHei";
}
.bg{
	background: url('img/background.jpg');
    background-size: cover;
    position: fixed;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    -webkit-filter: blur(5px);
            filter: blur(5px);
    z-index: -1;
}
.mask {
  width: 100px;
  height: 100px;
  margin-top:15px;
  background-image: url('img/tree.png');
  background-size: cover;
  border-radius: 15px;
}

p {
    margin: 0;
    padding: 0;
}

.flex-container {
    background-size: 100% 100%;
    background-attachment: fixed;
    margin-top:16px;
}

.center {
    border-color:rgb(65, 74, 95);
    border-width: 2px;
	float:left;
    display: block;
    border-radius: 10px;
    font-size: 18px;
    outline:none;
}

.button1 {
	background-color:rgb(126, 214, 248);
	color:#ffffff;
    float:left;
    width: 120px;
    padding: 6px;
    border-radius: 20px;
    font-size: 18px;
    outline:none;
}

.button2 {
	background-color:rgb(126, 214, 248);
	color:#ffffff;
	float:left;
    width: 120px;
    padding: 6px;
    border-radius: 20px;
    margin-left:80px;
    font-size: 18px;
    outline:none;
}

#title {
    text-align: center;
    font-family: "Microsoft YaHei";
    font-size: 28px;
    color:#fff;
    line-height: 55px;
}

.node {
    cursor: auto;
}

.node circle {
    fill: #6AAFD1;
    stroke-width: 3px;
}

.node rect {
    fill: #6AAFD1;
    stroke: #6AAFD1;
    stroke-width: 7px;
}

.node text {
    font: 17px "Microsoft YaHei", sans-serif;
}

.link {
    fill: none;
    stroke:#fff;
    stroke-width: 2px;
}
